* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

img {
  border-radius: 5px;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  grid:
    "header header header"
    "sidebar main anuncios"
    "footer footer footer"
    / minmax(150px, 1fr) minmax(0, 1000px) minmax(300px, 1fr);
  background: #fafbfc;
  font-family: "Vollkorn", serif;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1060px) 1fr;
  align-items: center;
  grid-area: header;
  gap: 30px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
}

.header .logo {
  justify-self: flex-end;
  width: 200px;
}

.header nav {
  grid-column: 3;
}

.header ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-flow: column;
  gap: 30px;
}

.header li a {
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;
  text-align: center;
  border-radius: 5px;
  transition: background 0.3s;
  padding: 10px;
}

.header li a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  justify-self: flex-end;
  padding: 30px;
}

.sidebar ul {
  display: grid;
  gap: 30px;
}

.sidebar li a {
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.15);
  transition: background 0.3s ease-out;
  padding: 20px;
  min-width: 60px;
}
.sidebar li a:hover {
  background: #b07dfb;
}

/* Main */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: main;
  gap: 30px;
  background: #fff;
  padding: 30px;
  max-width: 1000px;
}

.titulo {
  color: #b07dfb;
}

.titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
}

.titulo span {
  font-size: 0.875rem;
  font-style: italic;
}

.caracteristicas div {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.15);
  width: 80px;
}
.caracteristicas div:first-child {
  margin-right: 30px;
}

.caracteristicas .valor {
  display: block;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  color: #b07dfb;
  font-size: 3rem;
  line-height: 1;
  padding: 10px 0;
}

.caracteristicas .rotulo {
  display: block;
  color: #b07dfb;
  padding: 5px 0;
}

.main img {
  align-self: flex-end;
  width: 100%;
}

.main img:first-of-type {
  grid-row: span 2;
}

.main .destaque {
  color: #b07dfb;
  font-size: 0.875rem;
  max-width: 28ch;
}

.citacao p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  margin: auto;
  max-width: 35ch;
}

.citacao,
.atributos {
  align-self: flex-start;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.15);
  padding: 30px;
}

.atributos li {
  color: #fff;
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid #af7bfb;
}

.main .info p + p {
  margin-top: 30px;
}

.col-wide {
  grid-column: 1 / -1;
}

/* Anuncios */
.anuncios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-content: flex-start;
  grid-area: anuncios;
  justify-self: flex-start;
  gap: 30px;
  padding: 30px;
}

/* Footer */
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
}

.footer p {
  color: #fff;
  text-align: center;
}

@keyframes arrow-move {
  from {
    padding-right: 0;
  }
  to {
    padding-right: 10px;
  }
}

@media (max-width: 950px) {
  body {
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "sidebar anuncios anuncios"
      "footer footer footer";
  }

  .anuncios {
    justify-self: initial;
  }
}

@media (max-width: 650px) {
  body {
    grid:
      "header"
      "sidebar"
      "main"
      "anuncios"
      "footer"
      / 1fr;
  }

  .header {
    grid-template-columns: unset;
  }

  .header .logo {
    justify-self: initial;
  }

  .header nav {
    grid-column: initial;
  }

  .header ul {
    grid-auto-flow: row;
    gap: 15px;
  }

  .header li a {
    font-size: 1rem;
  }

  .sidebar {
    justify-self: initial;
    overflow-x: auto;
  }
  .sidebar::before {
    content: "→";
    display: block;
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    line-height: 1;
    animation: arrow-move 0.5s alternate infinite;
  }

  .sidebar ul {
    grid-auto-flow: column;
  }
}

@media (max-width: 570px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  .header ul {
    grid-template-columns: 1fr;
  }
}
